
#sidebar {
    min-width: 300px;
    max-width: 300px;
    color: #0d0d0d;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.05); }
    #sidebar .h6 {
      color: #0d0d0d; }
    #sidebar.active {
      margin-left: -300px; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 15px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 15px; }
          #sidebar ul li > ul li a {
            border-bottom: 1px solid transparent; }
            #sidebar ul li > ul li a span {
              color: #000; }
      #sidebar ul li a {
        padding: 10px 0;
        display: block;
        color: black;
        border-bottom: 1px solid #c1c1c1; }
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); } */
        #sidebar ul li a span {
          color: #0d0d0d; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #F0CA4D; }
    @media (max-width: 767.98px) {
      #sidebar {
        min-width: 100%;
        max-width: 180px;
        border-left: none; } }
    #sidebar .custom-menu {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 0;
      margin-right: -20px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #sidebar .custom-menu .btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative; }
        #sidebar .custom-menu .btn i {
          margin-right: -40px;
          font-size: 14px; }
        #sidebar .custom-menu .btn.btn-primary {
          background: transparent;
          border-color: transparent; }
          #sidebar .custom-menu .btn.btn-primary:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #F0CA4D;
            border-radius: 10px; }
          #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
            background: transparent !important;
            border-color: transparent !important; }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  .btn.btn-primary {
    background: #F0CA4D;
    border-color: #F0CA4D; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #F0CA4D !important;
      border-color: #F0CA4D !important; }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  
  .tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000;
    border: 1px solid #ccc;
    font-size: 11px; }
    .tagcloud a:hover {
      border-color: #F0CA4D;
      background: #F0CA4D;
      color: #fff; }

.fa-0xs
{
  font-size: 0.3em;
  color:#ffcc00;
  text-align: left;
  padding-right: 5px;
}